In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sys
%matplotlib inline

In [2]:
ds = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%203/data/drug200.csv')
ds.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [3]:
ds.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [4]:
ds['Cholesterol'].unique()

array(['HIGH', 'NORMAL'], dtype=object)

In [5]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
ds['Sex_le'] = enc.fit_transform(ds['Sex'])
ds['BP_le'] = enc.fit_transform(ds['BP'])
ds['Cholesterol_le'] = enc.fit_transform(ds['Cholesterol'])
ds.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug  Sex_le  BP_le  Cholesterol_le
0   23   F    HIGH        HIGH   25.355  drugY       0      0               0
1   47   M     LOW        HIGH   13.093  drugC       1      1               0
2   47   M     LOW        HIGH   10.114  drugC       1      1               0
3   28   F  NORMAL        HIGH    7.798  drugX       0      2               0
4   61   F     LOW        HIGH   18.043  drugY       0      1               0

In [6]:
features = ['Age', 'Sex_le', 'BP_le', 'Cholesterol_le', 'Na_to_K']
X = ds[features]
X

     Age  Sex_le  BP_le  Cholesterol_le  Na_to_K
0     23       0      0               0   25.355
1     47       1      1               0   13.093
2     47       1      1               0   10.114
3     28       0      2               0    7.798
4     61       0      1               0   18.043
..   ...     ...    ...             ...      ...
195   56       0      1               0   11.567
196   16       1      1               0   12.006
197   52       1      2               0    9.894
198   23       1      2               1   14.020
199   40       0      1               1   11.349

[200 rows x 5 columns]

In [7]:
Y = ds['Drug']
Y[:5]

0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
Name: Drug, dtype: object

In [8]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.3, random_state=3)
xtrain.shape, ytrain.shape, xtest.shape, ytest.shape

((140, 5), (140,), (60, 5), (60,))

In [9]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import tree

drugtree = DecisionTreeClassifier(criterion='entropy',max_depth=4).fit(xtrain, ytrain)
yhat = drugtree.predict(xtest)
ytest[:5],yhat[:5]

(40     drugY
 51     drugX
 139    drugX
 197    drugX
 170    drugX
 Name: Drug, dtype: object,
 array(['drugY', 'drugX', 'drugX', 'drugX', 'drugX'], dtype=object))

In [10]:
from sklearn.metrics import accuracy_score

accuracy_score(ytest, yhat)

0.9833333333333333

In [ ]:
export_graphviz(drugtree, out_file='tree.dot', filled = True, feature_names=features)
!dot -Tpng tree.dot -o tree.png